.container-delete-account {
  width: -webkit-fill-available;
  height: 100%;
  margin: 0px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 50px 10%;
  border-radius: 20px;
}

.header-delete-account {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  overflow: hidden;
}
.header-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: -132px;
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: 0;
}
.header-content {
  position: relative;
  z-index: 1;
}
.header-content img {
  width: 10em;
  height: 10em;
}
.header-content h1 {
  margin: 0;
  color: #fff;
}

.header-content p {
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
}

.delete-account-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.delete-account-form h2 {
  color: #000;
}
.delete-account-form p {
  margin: 0;
  font-size: 1.2rem;
}
.form-delete-account {
  display: flex;
  flex-direction: column;
}
.info-label {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  height: 30px;
  align-items: center;
  margin-right: 20px;
}
.info-label svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.info-label label {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}
.form-delete-account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-delete-account input {
  width: -webkit-fill-available;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-delete-account textarea {
  width: -webkit-fill-available;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-delete-account button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  max-width: 40%;
  cursor: pointer;
}
.form-delete-account button svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.form-delete-account button:hover {
  background-color: #218838;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.contact h2 {
  margin: 0;
}
.contact p {
  font-size: 20px;
  margin: 0;
}
