.container-delete-user-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  height: 95vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 90%;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: 0 0 10px #0000001a;
  border-radius: 20px;
}

.header-delete-user-data {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
  overflow: hidden;
}
.header-bg {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: -132px;
  background-size: cover;
  background-position: center;
  filter: blur(1px);
  z-index: 0;
}
.header-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.header-content img {
  width: 10em;
  height: 10em;
}
.header-content h1 {
  margin: 0;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-content p {
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
  width: 80%;
}

.delete-user-data-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 52vh;
  width: -webkit-fill-available;
  overflow-y: auto;
  overflow-x: hidden;
}

.delete-user-data-form h2 {
  color: #000;
}
.delete-user-data-form p {
  margin: 0;
  font-size: 1.2rem;
}
.form-delete-user-data {
  display: flex;
  flex-direction: column;
}
.info-label {
  display: flex;
  flex-direction: row;
  width: -webkit-fill-available;
  height: 30px;
  align-items: center;
  margin-right: 20px;
}
.info-label svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.info-label label {
  display: flex;
  font-size: 18px;
  font-weight: bold;
}
.form-delete-user-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-delete-user-data input {
  width: -webkit-fill-available;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-delete-user-data textarea {
  width: -webkit-fill-available;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.form-delete-user-data button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  max-width: 50%;
  cursor: pointer;
}
.form-delete-user-data button svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.form-delete-user-data button:hover {
  background-color: #218838;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.contact h2 {
  margin: 0;
}
.contact p {
  font-size: 20px;
  margin: 0;
}

.form-group {
  margin-bottom: 15px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.consent {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.consent label {
  display: block;
  margin-bottom: 0;
  font-weight: normal;
  width: -webkit-fill-available;
  text-align: left;
  cursor: pointer;
  font-size: 18px;
}

.consent input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(5, 151, 242, 1); /* Borde del checkbox */
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilizar el estado marcado */
.consent input[type="checkbox"]:checked {
  background-color: rgba(5, 151, 242, 1); /* Color de fondo al estar marcado */
  border-color: rgba(5, 151, 242, 1); /* Color del borde */
}

/* Agregar un ícono o pseudo-elemento para la marca */
.consent input[type="checkbox"]:checked::after {
  content: "✓"; /* Icono de check */
  color: white; /* Color del check */
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  top: 0px;
  left: 3px;
}
