.container-faq-page {
  width: -webkit-fill-available;
  height: 100%;
  margin: 0px;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.92);
  padding: 0;
}

.header-faq {
  position: relative; /* Necesario para que los botones se posicionen en relación al header */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
}

.header-faq h1 {
  font-size: 140%;
  margin: 0;
}

.header-faq p {
  font-size: 100%;
  margin: 0;
}
.content-faq {
  display: flex;
  flex-direction: column;
  height: calc(
    70vh - 50px
  ); /* Ajusta 50px al tamaño de la ventana del navegador */
  padding: 20px;
}

.content-faq h2 {
  font-size: 120%;
  margin: 0;
}
.faq-header {
  display: flex;
  justify-content: space-between; /* Alinea el contenido en ambos extremos */
  align-items: center; /* Alinea verticalmente */
  margin-bottom: 1em; /* Espacio debajo del encabezado */
}

.faq-title {
  font-size: 2em; /* Tamaño del texto del título */
}

.item-count {
  font-size: 1.2em; /* Tamaño del texto del contador */
  color: gray; /* Color opcional para el contador */
}
.faq-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -webkit-fill-available;
  overflow-y: auto;
  height: 100%;
  padding: 10px;
}

/* Personalizar el scrollbar */
.faq-list::-webkit-scrollbar {
  width: 8px;
}

.faq-list::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.faq-list::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
