---
import Layout from "../layouts/Layout.astro";

// 404-page.astro
---

<Layout title="Página no encontrada">
  <div class="container">
    <h1>404</h1>
    <h2>Página no encontrada</h2>
    <p>La página que buscas no existe.</p>
  </div>
</Layout>
