---
// Objetos y estilos de la página
import "../styles/delete-user-data.styles.css"; // Asegúrate de que este archivo tenga estilos específicos
import logo from "../assets/img/logo.png"; // Importa el archivo PNG aquí
import explainForUser from "../assets/img/explain-to-users.png"; // Importa el archivo PNG aquí
import { faTrash } from "@fortawesome/free-solid-svg-icons";
import { FontAwesomeIcon } from "@fortawesome/react-fontawesome";
import { auth } from "../api/firebase.ts"; // Importa el objeto de autenticación
import { deleteUser } from "firebase/auth";
// Componente de diseño de la página
import LayoutApp from "../layouts/LayoutApp.astro";
import Button from "../components/common/button.tsx";
import Modal from "../components/common/modal.tsx";

// Funciones de la pagina
const handleDeleteAccount = async () => {
  const user = auth.currentUser;

  if (user) {
    const confirmation = confirm(
      "¿Estás seguro de que deseas eliminar tu cuenta? Esta acción es irreversible."
    );

    if (confirmation) {
      try {
        await deleteUser(user);
        alert("Tu cuenta ha sido eliminada exitosamente.");
      } catch (error) {
        console.error("Error al eliminar la cuenta:", error);
        alert(
          "Hubo un error al eliminar tu cuenta. Por favor, intenta de nuevo."
        );
      }
    }
  } else {
    alert("No hay un usuario autenticado.");
  }
};
---

<LayoutApp title="BeatConnect App - Eliminación de datos">
  <div class="container-delete-user-data">
    <div class="content">
      <header class="header-delete-user-data">
        <div
          class="header-bg"
          style={`background-image: url(${explainForUser.src});`}
        >
        </div>

        <div class="header-content">
          <img src={logo.src} alt="BeatConnect" />
          <h1>Eliminación de datos vinculados a la cuenta</h1>
          <p>
            Si deseas eliminar los datos asociados a tu cuenta, puedes hacerlo a
            través del siguiente formulario.
          </p>
        </div>
      </header>
      <section class="delete-user-data-form">
        <form
          id="delete-account-form"
          onsubmit="handleDeleteAccount(); return false;"
        >
          <div class="form-group">
            <label for="full-name">Nombre Completo:</label>
            <input type="text" id="full-name" name="full-name" required />
          </div>

          <div class="form-group">
            <label for="email">Correo Electrónico:</label>
            <input type="email" id="email" name="email" required />
          </div>

          <div class="form-group">
            <label for="username">ID de Usuario o Nombre de Usuario:</label>
            <input type="text" id="username" name="username" required />
          </div>

          <div class="form-group">
            <label for="reason">Motivo de la Eliminación (opcional):</label>
            <textarea id="reason" name="reason" rows="4"></textarea>
          </div>

          <div class="form-group consent">
            <input type="checkbox" id="consent" name="consent" required />
            <label for="consent"
              >He leído y acepto las <a href="/">Políticas de Privacidad</a>
            </label>
          </div>
        </form>
        <!-- Aquí se renderiza el modal -->
        <Modal
          client:load
          title="¿Estás seguro de eliminar los datos asociados a tu cuenta?"
        >
          <!-- Botón activador del modal -->
          <Button
            type="submit"
            onClick={handleDeleteAccount}
            style={{
              background: "#e74c3c",
              width: "100%",
              padding: "10px",
              fontSize: "18px",
              fontWeight: "bold",
              color: "#fff",
              border: "none",
              borderRadius: "5px",
              maxWidth: "60%",
              maxHeight: "50px",
              cursor: "pointer",
            }}
          >
            <FontAwesomeIcon
              icon={faTrash}
              style={{ height: "20px", width: "20px" }}
            />
            Solicitar eliminación de datos asociados
          </Button>
        </Modal>
        <section id="contact" class="contact">
          <h2>¿Necesitas ayuda?</h2>
          <p>
            Si tienes alguna pregunta o necesitas asistencia adicional, puedes
            contactarnos en:
          </p>
          <p><a href="mailto:soporte@tudominio.com">beatconnet@gmail.com</a></p>
        </section>
      </section>
    </div>
  </div>
</LayoutApp>
