---
// Objetos y estilos de la pagina
import "../styles/index.styles.css";
// Componentes de la página
import LayoutApp from "../layouts/LayoutApp.astro";
import FaqPage from "./faq.astro";
// Funciones de la página
export function getYear() {
  return new Date().getFullYear();
}
---

<LayoutApp title="BeatConnet App - Preguntas frecuentes">
  <div class="container-pages">
    <FaqPage />
  </div>
</LayoutApp>
