---
import FaqPage from "./faq-page.astro";
import ErrorPage from "./404-page.astro";
import DeleteAccountPage from "./delete-account.astro";
import svgLogo from "../assets/svg/logo_blank.svg";
import "../styles/index.styles.css";

// Define las rutas estáticas
export function getStaticPaths() {
  return [
    { params: { path: ["faq"] } }, // Página de Preguntas Frecuentes
    { params: { path: ["404"] } }, // Página de Error
    { params: { path: ["delete-account"] } }, // Página de Eliminación de Cuenta
    { params: { path: undefined } }, // Página principal (ruta raíz)
  ];
}

// Captura el parámetro de la URL
const { path } = Astro.params;

// Función para comprobar si una ruta es la correcta
function isRoute(route: string) {
  return path && path[0] === route;
}

// Función para obtener el año actual
export function getYear() {
  return new Date().getFullYear();
}
---

<div class="container-pages">
  <!-- Renderiza la página correspondiente -->
  {isRoute("faq") && <FaqPage />}
  {isRoute("404") && <ErrorPage />}
  {isRoute("delete-account") && <DeleteAccountPage />}

  <!-- Renderiza FaqPage si path está vacío o indefinido -->
  {!path && <FaqPage />}

  <footer>
    <p>
      &copy; {getYear()}
      <img
        src={svgLogo.src}
        alt="BeatConnect"
        style="width: 1.5em; height: 1.5em; margin: 0 10px;"
      />
      BeatConnect. Todos los derechos reservados.
    </p>
  </footer>
</div>
