---
import svgLogo from "../assets/svg/logo_blank.svg";
interface Props {
  title: string;
}

const { title } = Astro.props;

// Función para obtener el año actual
function getYear() {
  return new Date().getFullYear();
}
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- Aquí se renderiza el contenido principal -->
    <slot />

    <!-- Aquí está el footer con el logo SVG y el año -->
    <footer>
      <p>
        &copy; {getYear()}
        <img
          src={svgLogo.src}
          alt="BeatConnect"
          style="width: 1.5em; height: 1.5em; margin: 0 10px;"
        />
        BeatConnect. Todos los derechos reservados.
      </p>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  body {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
  }

  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../assets/img/design.png");
    background-size: 15% auto;
    background-position: center;
    background-repeat: repeat;
    background-color: #3d9df2;
    filter: blur(4px);
    z-index: -1;
  }

  footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0.5rem 0;
    height: 50px;
  }

  footer p {
    display: flex;
    align-items: center;
    font-size: 80%;
    margin: 0;
  }

  .footer-logo {
    margin-left: 2px;
    margin-right: 2px;
    height: 24px; /* Ajusta el tamaño del logo si es necesario */
  }
</style>
